.row-fluid
	.span9.offset3
		Description:

.row-fluid
	.span3
		%a.btn.btn-primary.btn-large(href="#{@user.full_address}") Go to #{@user.name}'s profile
		.comments
			=render_partial :comment_form
			.comment-list
				-@comments.each do |i|
					=render_comment i
	.span9
		%p.lead #{@gist.description}
		%a(href="#{@gist.full_address}")
			.page-header #{@gist.file_name}
		%pre.prettyprint
			:preserve
				#{h "#{@gist.content}"}